body { 
  padding-top: 60px; 
}

#comments .media-heading {
	font-size: 12px;
}

#selectUserPermissions label.checkbox-inline {
	padding-top: 0;
}

#currentUsers li.list-group-item span.label {
	margin-right: 2px;
}